SNOWFLAKE_USER=<YOUR_SNOWFLAKE_USER>
SNOWFLAKE_PASSWORD=<YOUR_SNOWFLAKE_PASSWORD>
SNOWFLAKE_ACCOUNT=<YOUR_SNOWFLAKE_ACCOUNT>
SNOWFLAKE_WAREHOUSE=<YOUR_SNOWFLAKE_WAREHOUSE>
SNOWFLAKE_DATABASE=<YOUR_SNOWFLAKE_DATABASE>
SNOWFLAKE_SCHEMA=<YOUR_SNOWFLAKE_SCHEMA>
SNOWFLAKE_TABLE=<YOUR_TABLE>